/*layout*/
.registration-container {
    min-width: 500px;
    min-height: 600px;
    margin: 90px auto 10px auto;
    padding: 50px;
    width: 50%;
    border-radius: 10%;
    background-color: #f1f2f3;
    box-shadow: -8px 8px 10px #b8b8ba;
}

.container {
    width: 100%;
    margin: 10px auto 0 auto;
    max-width: 940px;
    position: relative;
    padding-top: 10px;
}

.block {
    margin: 30px auto 30px auto;
}

/*labels*/
label {
    display: block;
}

.largelabel {
    font-weight: bold;
    font-size: 16px;
    color: #55698e;
    padding-left: 10px;
}

.labelchild {
    padding-left: 25px;
    font-weight: lighter;
    color: #33587c;
}

.labelcategory {
    font-weight: bold;
    font-size: 18px;
    color: #3d5177;
    background: #e8eaed;
}

.error-block {
    font-weight: bold;
    padding-left: 15px;
    color: crimson;
    font-size: 14px;
}

.result-message {
    font-weight: bold;
    color: #1f1f7f;
}
/*checkboxes*/
input[type=checkbox].checkbox-group {
    margin-right: 40px;
    height: 20px;
    width: 20px;
}

input[type=checkbox] {
    vertical-align: middle;
    float: right;
    display: inline-block;
    background-color: #fff;
    margin-right: 15px;
}

    input[type=checkbox].left-sided {
        float: left;
        margin: 5px;
        display: inline-block;
    }

/*list*/
ul {
    height: 200px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

li {
    border-bottom: 1px solid #e3e8ed;
    position: relative;
    padding: 5px 2px 2px 2px;
}

    li:hover {
        background-color: aliceblue;
    }

/*text input*/
.inputfield {
    min-width: 250px;
}
