﻿@model CategoryRegistration.ViewModels.IndexPageViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Sector selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container-fluid">
        <form class="registration-container needs-validation"
              id="registrationForm"
              asp-controller="Home"
              asp-action="SaveAsync">

            <fieldset>

                <legend>Please enter your name and pick the Sectors you are currently involved in.</legend>

                <div class="block">
                    <label class="largelabel" for="name">Name</label>
                    <input id="name" name="model.User.UserName" type="text" class="form-control" value="@Model.User.UserName" required>
                </div>

                <div class="block" id="select">
                    <ul>
                        @* Sector categories collection loop *@
                        @{var categories = Model.SectorsByCategory.OrderBy(item => item.CategoryName).ToList();}
                        @for (int i = 0; i < categories.Count; i++)
                        {
                            <li class="labelcategory">@categories[i].CategoryName</li>
                            @* Sectors loop inside sector category *@
                            var sectors = categories[i].Sectors.OrderBy(c => c.SectorName).ToList();
                            @for (int j = 0; j < sectors.Count; j++)
                            {
                                <li class="group">
                                    <input type="checkbox" class="checkbox-group"
                                           checked="@sectors[j].IsChecked"
                                           name="model.SectorIds"
                                           value="@sectors[j].Id">

                                    <label class="largelabel">
                                        @sectors[j].SectorName
                                    </label>
                                </li>

                                @if (sectors[j].SubSectors != null)
                                {
                                    @* Subsectors loop inside the sector*@
                                    var subSectors = sectors[j].SubSectors.OrderBy(s => s.SubSectorName).ToList();
                                    @for (int k = 0; k < subSectors.Count(); k++)
                                    {
                                        <li>
                                            <input type="checkbox" class="checkbox-child"
                                                   checked="@subSectors[k].IsChecked"
                                                   name="model.SubSectorIds"
                                                   value="@subSectors[k].Id">

                                            <label class="labelchild">
                                                @subSectors[k].SubSectorName
                                            </label>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>

                <div class="block">
                    <label class="largelabel">
                        Agree to terms
                        <input class="left-sided"
                               type="checkbox"
                               name="model.User.AgreeToTerms"
                               checked="@Model.User.AgreeToTerms"
                               value="true" required
                               id="terms-agree">
                    </label>
                </div>
                <h4 class="result-message">@Model.Result</h4>
                <div class="block">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
